* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: var(--RE);
    font-weight: 300;
    background: var(--white);
    color: var(--white);
}

.container {
    margin: 0 auto;
    max-width: 1138px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
}

:root {
    --white: #fff;
    --black: #000;
    --RE: 'RE', sans-serif;
    --RL: 'RL', sans-serif;
}